version: '3.8'

services:
  backend:
    environment:
      NODE_ENV: production
    command: sh -c "npx prisma migrate deploy && npm run build && npm start"
    volumes: []

  frontend:
    build:
      context: ./apps/frontend
      dockerfile: Dockerfile.prod
    command: ["nginx", "-g", "daemon off;"]
    volumes: []
